.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  color:aqua;
  margin-bottom: 30px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}

.movie-cart {
  border: 1px solid #ababab;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.movie-detail {
  display: flex;
  text-algin: left;
  max-width: 800px;
  margin: 0 auto;
  gap: 30px;
}

.movie-detail img {
  width: 300px;
  border-radius: 8px;
}

.detail-info h1 {
  margin-top: 0;
}